html,
body {
   margin:0;
   padding:0;
}

body {
    background: white;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
/* Icon when the collapsible content is shown */
.btn-col:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  font-size: 8px;
}
/* Icon when the collapsible content is hidden */
.btn-col.collapsed:after {
  content: "\e080";
  font-size: 8px;
}

#plot-area {
    height: auto;
}

.panel-heading {
    text-align: center;
}

ol {
  margin: 0px;
  padding: 0px;
}

/* Styles for Fit results Table */
#fit-results-table {
    width: 85%;
    padding: 0 auto;
    margin: 0 auto;
}

#fit-results-table td {
padding: 5px 10px;
}

#fit-results-table ul, li {
list-style-type: none;
text-align: left;
}

#fit-results-table .sub-heading {
text-align: center;
font-weight: bold;
}

#plot-panel-collapse {
    cursor: pointer;
}

#plot-collapse {
    background: rgba(0,0,0, 0.02);
}