@import url('./shared-1D-styles.css');

/* Plot Panel Styles */
.panel-heading {
  text-align: center;
  padding: 0px 5px;
}

/* Styles for Fit results Table */
#fit-results-table {
  padding: 0 5px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#fit-results-table td {
  padding: 5px;
}

#fit-results-table .sub-heading {
  text-align: left;
  font-weight: bold;
}

#plot-1D {
  position: relative;
  padding: 0 10px;
  margin: 0 auto;
  min-width: 400px;
}

.fitted-line {
  stroke-width: 2px;
  stroke-dasharray: 10,5;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

/* Style for brush/slider handle bars */
.handle {
  fill: gray;
  opacity: 0.75;
}

iframe.width-changed-SANS1D {
  width: 90%;
  display: block;
  border: 0;
  height: 0;
}
