/* Override MathJax positioning for rendered elements */
.MathJax_SVG {
    position: static !important;
    display: inline-block !important;
}
  
foreignObject {
    height: 100px;
    width: 200px;
}