/* Style for brush/slider handle bars */
.brush-container .handle {
    fill: none;
}

.brushes .selection {
  fill: green;
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3px 3px;
}

.brushes .handle {
  fill: none;
}