@import url('./plot-labels.css');

.zoom {
    cursor: move;
    opacity: 0;
    pointer-events: all;
  }

iframe.width-changed-TAS {
    width: 90%;
    display: block;
    border: 0;
    height: 0;
}